html{
    box-sizing: border-box;
    height: 100%;
}
.calc-button{
    background-color: rgb(68, 68, 68);
    border: 0;
    border-radius: 10px;
    color: white;
}
.calc-button-double{
    background-color: rgb(190, 190, 190);
    color: black;
}
.screen{
    color: white;
}
.calc-operator{
    background-color: #ffa200;
}
.wrapper{
    background-color: black;
}