html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    background-color: rgb(66, 66, 66);
    display: flex;
    justify-content: center;
    height: inherit;
}
.wrapper{
    background-color: black;
    border: 1px, solid, gray;
    border-radius: 20px;
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.screen{
    color: white;
    font-size: 60px;
    padding-right: 20px;
    text-align: right;
}
.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}
.calc-button{
    background-color: rgb(68, 68, 68);
    border: 0;
    border-radius: 50px;
    color: white;
    flex-basis: 20%;
    font-size: 24px;
    height: 65px;
    transition: background 0.3s, color 0.3s;
}.calc-button:hover{
    opacity: 0.5
}.calc-button:active{
    transform: scale(0.85);
    filter: brightness(3);
}

.ac{
    flex-basis: 47%;
}
.calc-button-double{
    background-color: rgb(190, 190, 190);
    color: black;
}
.calc-operator{
    background-color: #ffa200;
}
.calc-button-triple{
    flex-basis: 73%;
}